/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* required styles */

@import './libraries/leaflet.scss';

@font-face {
  font-family: 'GlamourAbsolute_Extended';
  src:url('GlamourAbsolute_Extended.otf');
}

.logo{
  height: 28px;
}
.navbar {

}
.center{
  margin: 0 auto;
}
.login_container {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 0px 64px 64px 64px;
    border: 1px solid #2c1827 !important;
 }

.top-spacer{
  height: 64px;
}

.tenpx-space {
  height: 10px;
}
.links a:hover{
  color: #ee7475 !important;
}
.links a{
  color: #2c1827 !important;
}
.form-group {
  margin-bottom: 0 !important;
}
.margin-fix {
  margin-bottom: 1rem !important;
}

.form-control{
  border: 1px solid #2c1827 !important;
}
.rails-form{
  margin-top: 10px;
}
.leaflet-container{
  height: 400px;
}

input::placeholder{
  color: #2c1827 !important;
}

textarea::placeholder{
  color: #2c1827 !important;
}

.nav-item{
  list-style: none !important;
}
.nav-item a{
  color: #2c1827 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  text-transform: uppercase !important;
  font-size: 14px !important;
}

.nav-item a:hover{
  color: #ee7475 !important;
}
.map_img{
  width:100%;
  max-width:600px;
  border: 1px solid #2c1827 !important;
  padding: 0 !important;
}

.float-left{
  float: left !important;
}
.middlecard-margin{
  margin: 0px 20px 0px 20px;
}

.card-width{
  width: 350px !important;
}

.float-right{
  float: right;
}
.container{
  width: 1200px;
}
.form-body{
  background-color: #f8f9fa!important;
}

 .form-flt-left{
  color: #2c1827 !important;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  float:left;
}
.spacer{
  margin-top:23px;
}

.jumbotron {
  min-height: 473px !important;
  max-width: 100% !important;
  text-align: center;
  background-position: center bottom;
}
 .display-3{
  font-size: 35px !important;
  font-family: 'GlamourAbsolute_Extended' !important;
  text-align: center !important;
  color: #2c1827!important;
}

.h2{
  font-size: 28px !important;
  font-family: 'GlamourAbsolute_Extended' !important;
  text-align: left !important;
  margin-bottom: 32px;
}

.h3{
  font-size: 20px !important;
  font-family: 'GlamourAbsolute_Extended' !important;
  text-align: left !important;
}

.btn2{
  color: #2c1827 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #ee7475 !important;
  border-color: #ee7475 !important;
  border-width: 2px !important;
  font-size: 14px !important;
  padding: 10px 36px !important;
  margin:20px 10px 0px 10px !important;
}
.btn-form{
  color: #2c1827 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #ee7475 !important;
  border-color: #ee7475 !important;
  border-width: 2px !important;
  font-size: 14px !important;
  padding: 10px 36px !important;
}
.btn-form:hover{
  color: #ee7475 !important;
  background-color: Transparent !important;
  background-repeat:no-repeat !important;
  border-color: #2c1827 !important;
  border-width: 2px !important;
  font-weight: 500;
}
.btn2:hover{
  color: #ee7475 !important;
  background-color: Transparent !important;
  background-repeat:no-repeat !important;
  border-color: #2c1827 !important;
  border-width: 2px !important;
  font-weight: 500;
}

.btn1:hover{
  color: #ee7475 !important;
  background-color: Transparent !important;
  background-repeat:no-repeat !important;
  border-color: #2c1827 !important;
  border-width: 2px !important;
  font-weight: 500;
}

.btn1{
  color: #2c1827 !important;
  background-color: Transparent !important;
  background-repeat:no-repeat !important;
  border-color: #2c1827 !important;
  border-width: 2px !important;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  font-size: 14px !important;
  padding: 10px 36px !important;
  margin:20px 10px 0px 10px;
  font-weight: 500;
 }

 .btn4{
  color: #2c1827 !important;
  background-color: #ee7475 !important;
  border-color: #ee7475 !important;
  border-width: 2px !important;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  font-size: 14px !important;
  padding: 10px 36px !important;
  font-weight: 500;
}
.btn3{
  color: #2c1827 !important;
  background-color: Transparent !important;
  background-repeat:no-repeat !important;
  border-color: #2c1827 !important;
  border-width: 2px !important;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  font-size: 14px !important;
  padding: 10px 36px !important;
  font-weight: 500;
 }

 ::after, ::before {
  box-sizing: border-box;
 }
